{% extends "layout.html" %}
{% block body %}
	<h1>Add specialization</h1>
	<form action="{{ url_for('admin_blueprint.add_specialization', username=teacher.username) }}" method="post">
		<dl>
			<dt>Teacher:</dt>
				<dd>First name: {{ teacher.first_name }}</dd>
				<dd>Last name: {{ teacher.last_name }}</dd>
				<dd>Username: {{ teacher.username }}</dd>
			<dt>Subject:</dt>
			<select name="subject_select">
				<option value="default" selected disabled>Select specialization</option>
				{% for subject in subjects %}
					<option value="{{ subject.name }}">{{ subject.name }}</option>
				{% endfor %}
			</select>
		</dl>
		<input type="submit" value="Submit">
	</form>
{% endblock %}
