{% extends "layout.html" %}
{% block body %}
	<table>
		<tr>
			<th>Subject</th>
			<th>Edit</th>
			<th>Remove</th>
		</tr>
	{% for subject in subjects %}
		<tr>
			<td>{{ subject.name }}</td>
			<td>
                <form action="{{ url_for('admin_blueprint.subject_edit', name=subject.name) }}">
                    <input type="submit" value="E" />
                </form>
            </td>
			<td>
                <form action="{{ url_for('admin_blueprint.subject', name=subject.name) }}">
                    <input type="submit" value="X" />
                </form>
            </td>
		</tr>
	{% endfor %}
	</table>
	<div class="universal">
		<a href="{{ url_for('admin_blueprint.add_subject') }}">Add</a>
	</div>
{% endblock %}
