<!DOCTYPE html>
<title>Gradebook</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="container">
  <div class="container_inner">
    <div class="nav">
        {% if session['logged_in'] %}
            {% if session['type'] == 'X' %}
                <a href="{{ url_for('admin_blueprint.admin_teachers')}}">Teachers</a>
                <a href="{{ url_for('admin_blueprint.admin_students')}}">Students</a>
                <a href="{{ url_for('admin_blueprint.admin_subjects')}}">Subjects</a>
            {% elif session['type'] == 'S' %}
                <a href="{{ url_for('student_profile') }}">Student</a>
                <a href="{{ url_for('group') }}">Group</a>
            {% elif session['type'] == 'T' %}
                <a href="{{ url_for('teacher_profile') }}">Teacher</a>
                <a href="{{ url_for('groups') }}">Groups</a>
                <a href="{{ url_for('add_grade') }}">Grade</a>
            {% endif %}
            <a href="{{ url_for('logout') }}">Log out</a>
        {% else %}
            <a href="{{ url_for('student_login') }}">Log in</a>
        {% endif %}
    </div>
    {% for msg in get_flashed_messages() %}
        <div class="flash">{{ msg }}</div>
    {%  endfor %}
    {% block body %}{% endblock %}
  </div>
</div
