{% extends "layout.html" %}
{% block body %}
    <br>
    <h1>Log in as a student</h1>
    <div class="universal">
      <a href="{{ url_for('teacher_login') }}"/>If you are a teacher, click here</a>
    </div>
    <form action="{{ url_for('student_login') }}", method=post>
        <dl>
            <dt>Username:</dt>
            <input type="text" name="username">
            <dt>Password:</dt>
            <input type="password" name="password">
            <br><br>
            <input type="submit" value="Log in">
        </dl>
    </form>
{% endblock %}
